<nav class="navbar navbar-expand-lg navbar-dark bg-brown">
    <a class="navbar-brand" (click)="goToDashboard()">
        <i class="fa fa-music"></i>
        <span id="app-title">
      Vaudeville Mews Archive
    </span>
    </a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="goToToday()">
                    <i class="fa fa-calendar"></i>
                    On This Day
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="goToSearch()">
                    <i class="fa fa-search"></i>
                    Search
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"
                   href="https://docs.google.com/spreadsheets/d/1MAROLnkYIlQ-8TdFi4oohrv9h0WrRX_awoALpScIfZ8/edit?usp=sharing"
                   target="_blank">
                    <i class="fa fa-area-chart"></i>
                    Data Set
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"
                   href="https://twitter.com/VaudevilleMewsB"
                   target="_blank">
                    <i class="fa fa-twitter"></i>
                    Twitter Bot
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"
                   href="https://honestjuicebox.itch.io/a-monday-on-4th-street"
                   target="_blank">
                    <i class="fa fa-gamepad"></i>
                    Tribute Game
                </a>
            </li>
            <ng-container *ngIf="isLoggedIn">
                <li class="nav-item">
                    <a class="nav-link" (click)="goToProfile()">Your profile</a>
                </li>
                <li class="nav-item" *ngIf="isAdmin">
                    <a class="nav-link" (click)="goToAdmin()">Admin panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ng-container>
        </ul>
    </div>
</nav>
