<app-header [title]="'Application Information'"></app-header>
<app-body>
  <div class="row">
    <div class="col-md-12 my-3">
      <app-card [autoHeight]="false">
        <p>
          This is a simple Angular UI for the Vaudeville Mews Archive.
        </p>
        <hr />
        <p>
          This repo for this project can be found on github at
          <a
            target="_blank"
            href="https://github.com/adam-on-the-internet/vaudeville-mews-archive"
          >
            https://github.com/adam-on-the-internet/vaudeville-mews-archive</a
          >.
        </p>
        <p>
          Check out more of my work at
          <a href="http://adamontheinternet.com" target="_blank"
            >AdamOnTheInternet.com</a
          >.
        </p>
      </app-card>
    </div>
  </div>
</app-body>
